body {
   
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:black;
}

li, a {
    font-family: "monsterrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
    text-decoration: none;
}

button {
    font-family: "monsterrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width:100vh;
}

button {
    padding: 9px 25px;
    background-color: rgba(255,223,0,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(255,223,0,0.8);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #ffd900;
}

 .logo{
     cursor:pointer;
     height:60px;
 }

 .remeber{
     width:100vh;
 }

 .material1{
     display:none;
 }

.info {
    width: 100vh;
}

.info p {
    padding:30px 30px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:snow;
    line-height:40px;
}

.material2{
    width:100vh;
}